*{
    margin: 0px;
    padding: 0px;
}
section{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#inicio{
    position: relative;
}
.fondovideo{
    width: auto;
    height: 100%;
    background-attachment: fixed;
    background: linear-gradient();
    z-index: 0;
}
.contentitulo{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;

}
.contentitulo header{
    height: 70px;
}
.titulo{
    
    font-family: 'Ubuntu', sans-serif;
    height: calc(100% - 70px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(28, 168, 168);
  
    font-size: 80px;
}
nav a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: white;

}
.subtitulo{
    font-family: 'Roboto', sans-serif;
}